@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: "Roboto","Arial",sans-serif;
}

header{
    display:flex;
    justify-content:space-between;
    align-items: center;
    height:56px;
    padding:0 16px;
}

.left-section{
    display:flex;
    align-items: center;
    cursor: pointer;
}
.left-section img{
    width: 46%;
    padding-left: 16px ;
}
.mid-section{
    display:flex;
    align-items: center;
    margin-left:-9%;
}
.mid-section form{
    display:flex;
    height: 40px;
    width:628px;
}
.mid-section input{
    width:100%;
    border-radius: 2px 0 0 2px;
    padding:12px;
    font-size:1.6rem;
    border:1px solid #d3d3d3;
    border-right:none;
}
.mid-section button{
    width:64px;
    border:1px solid #d3d3d3 ;
    border-radius: 0 2px 2px 0;
    padding-top:4px;
    background-color: #f8f8f8;
    cursor:pointer;
}
.mid-section .mic{ 
    display:flex;
    align-items: center;
    justify-content: center;
    margin-left:8px;

    width: 40px;
    height:40px;
    border-radius: 50%; 
    background-color: #f8f8f8;
    cursor:pointer;
}
.right-section a{
    padding:18px;
    text-decoration: none;
    color:black;
}

.content-area {
    height: calc(100vh - 56px);
    display: flex;
    background-color: #f9f9f9; 
     
} 
aside {
    height: 100%;
    width: 280px;
    background-color:white;
    overflow-y: auto ; 
}
nav{
    width:100%;
    display:flex;
    flex-direction:column;
    margin: 15px 0;
    padding-right: 15px;
}
.nav-link{
    display: flex;
    align-items: center;
    padding:10px 16px;
    text-decoration: none;
    color:#030303;
}
.nav-link:hover{
    background-color:  rgba(0,0,0,0.05);
}
.nav-link span{
    margin-left:24px;
    font-size:1.4rem;
    line-height: 2em ;
    font-weight: 400; 
}
.active{
    background-color: #e5e5e5;
}
#active-span{
    font-weight: 520; 
}

hr{ 
    height: 2px;
    background-color: #e5e5e5;
    border:none;
    margin:10px 0;
    opacity: 50%;
}

